.header {
    font-size: 25px;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 700; 
    color: #333; 
    text-transform: uppercase; 
    text-align: center; 
}
.visual-learning{
    font-size: 22px;
}
.button-watch-notebook a{
    background-color: var(--e-global-color-accent);
}
.button-main{
    display: inline-block;
    background-color: var(--e-global-color-accent);
    padding: 12px 24px;
    border-radius: 3px;
    text-align: center;
    transform: all .3s;
    text-decoration: none;
}
.button-main:hover {
    text-decoration: none; 
}
.content-notebook{
    font-size: 20px;
    font-weight: bold;
}
.story-title{
    color: var(--e-global-color-accent);
}
.story-successful, .feedback-book{
    color: white;
}
.name-feedback{
    font-weight: bold;
    font-size: 16px;
}
.elementor-77070 {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    flex-wrap: wrap; 
    width: 100%;
    background-color: #f8f8f8; 
}
.elementor.elementor-77070 {
    position: relative;
    bottom: 0;
    width: 100%;
}
.elementor-element.footer-child {
    flex: 1; 
    text-align: center; 
}
.twbb-nav-menu a{
    padding-bottom: 10px;
}
.twbb-item:hover {
    color: blue !important; 
    text-decoration: underline; 
    transition: color 0.3s ease-in-out;
}
.custom-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.custom-wrapper {
    width: 100%;
    max-width: 600px;
    text-align: center;
}

.custom-product-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.custom-product-image {
    margin-top: 10px;
    display: block;
    margin: 0 auto;
    width: 800px;
    height: auto;
}

.custom-product-title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

.custom-price {
    font-size: 18px;
    color: #ff6600;
    font-weight: bold;
    margin-top: 5px;
}
.book-icon{
    height: 40px;
    width: 40px;
}